﻿@using FinalProject.ViewModel﻿
@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
<main class="" style="    z-index: 222 !important;
    position: relative;
    top: -25px;
    margin-bottom: -60px;
    min-height: 350px;    z-index: 222 !important;
    position: relative;
   
    margin-bottom: -60px;
    min-height: 350px;">

    <form class="form" method="post">



        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">

            <input asp-for="Password" placeholder="Enter password" class="inputss password" type="text">
        </div>
        <div class="flex-column">
            <label>Confirm Password</label>
        </div>
        <div class="inputForm">

            <input asp-for="ConfirmedPassword" placeholder="Confirm Your Password" class="inputss password" type="text">
        </div>

        <button type="submit" class="button-submit">Reset Your Password</button>


    </form>
</main>
<link rel="stylesheet" href="~/assets/Login.css">