
@{
    ViewData["Title"] = "AboutUs";
}
@model Dictionary<string,string>
<main class="mmm" style="background-image:url(https://willamette.edu/student-life/soar/images/essential-books.jpg); margin-bottom:-10px; padding-top:20px;">
    <div class=" ">
        <div class=" container category-head align-items-center d-flex align-items-center bg-white">
            <a class="c-h-a " href="shop">Haqqımızda</a>
        </div>
    </div>

    <div class="container bg-white py-4 abouthtml">


        <p>2018-ci il sentyabr ayının 1-də Bakı Kitab Mərkəzi rəsmi olaraq açıq elan olunub.</p>
        <p>Heydər Əliyev Fondunun təşəbbüsü və dəstəyi ilə yaradılmış və kitab satışına tamamilə fərqli bir konsepsiya ilə başlayan Bakı Kitab Mərkəzində azərbaycan, rus, türk, ingilis, fransız, alman, ərəb və digər dillərdə istənilən janrlarda kitablar təqdim olunur.</p>
        <img src="@Html.Raw(Model["AboutImage1"])" alt="">
        <p>Üzeyir Hacıbəyov və Qoqol küçələrinin kəsişməsində yerləşən Mərkəzin sahəsi təxminən 2500 kvadratmetrdir.</p>
        <p>Bakı Kitab Mərkəzinin əsas məqsədi - oxucularda xalqın mədəni, mənəvi dəyərlərini və faydalı bilikləri daşıyan kitaba marağı oyatmaqdır.</p>
        <p>Bakı Kitab Mərkəzinin 1-ci və 2-ci mərtəbələrində Heydər Əliyev Fondunun nəşrləri öz yerini tapıb. Burada, həmçinin, "I love Baku" brendinin rəngarəng suvenirləri və "Azərmarka" şirkətinin məhsulları təqdim olunur. </p>
        <img src="@Html.Raw(Model["AboutImage2"])" alt="">
        <p>Eyni zamanda, 1-ci mərtəbədə Azərbaycan və xarici dillərdə dünya bestsellerləri, incəsənətə aid olan gözəl albomlar, turist bələdçiləri, musiqi kitabları və notlar da satılır.</p>
        <p>Mərkəzin layihəsi üzərində çalışarkən, yaradıcılar kitabsevərlərin burada asudə vaxtlarını keçirmək üçün də imkan yaradıblar. Kitab satışı ilə yanaşı burada "Coffee mood" adlı kafe də fəaliyyət göstərir. </p>
        <p>Kafedə əyləşərkən qonaqlarımız Mərkəzdə təqdim olunan kitab və jurnallarla da tanış ola bilərlər. </p>
        <p>Mərkəzin 2-ci mərtəbəsində oxu zalı, zəif görmə qabiliyyəti olan insanlar üçün ayrı, uşaqlar üçün isə ayrıca guşələr, dəftərxana malları şöbəsi, müxtəlif ədəbi və mədəni tədbirlər keçiriləcək təqdimat hissəsi və elmi fəaliyyətlə məşğul olanlar üçün nəzərdə tutulmuş tədris guşəsi fəaliyyət göstərir.</p>
        <img src="@Html.Raw(Model["AboutImage3"])" alt="">
        <p>Bakı Kitab Mərkəzində mütəmadi olaraq müxtəlif kitab təqdimatları, məşhur yazıçı, şair, həmçinin sevilən mədəniyyət və incəsənət xadimləri ilə görüşlər, ustad dərsləri, uşaq və yeniyetmələrdə mütaliəyə həvəsi artırmaq üçün tanınmış insanların iştirakı ilə oxu günləri, dil kursları, beynəlxalq təşkilatlar və xarici səfirliklər ilə bərabər təşkil olunmuş tədbirlər keçirilir.</p>
        <p>Mərkəzdəki bütün tədbirlər və aksiyalar haqqında zalda canlı anonslar səslənir, müxtəlif yerlərdə quraşdırılan monitorlarda yeni kitablar haqqında məlumatlar verilir. Sensor ekranlarda Mərkəzdə satılan bütün kitablar haqqında məlumat almaq olar. Gülərüz personal qonaqlarımıza bu işdə peşəkar məsləhət verməyə hər zaman hazırdır.</p>
        <p>Bakı Kitab Mərkəzinin əsas məqsədi həmvətənlərimizdə mütaliəyə marağın və həvəsin artırılmasıdır. Odur ki, biz bu yerin şəhər sakinlərinin və xarici qonaqlarımızın ən sevimli məkanlarından birinə çevriləcəyinə inanırıq. </p>
    </div>
</main>